.about-me-links > li {
	list-style: none;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}

ul.about-me-links {
	margin: 0;
	padding: 0;
}

#about a {
	color: #0B9653;
}

#about {
    border-radius: 25px;
    border: 2px dotted #084B2B;
    padding: 10px;
	color: #05100B;
}