body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #EAF5D2;
  color: #084B2B;
}

.row {
  padding-top: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}