/*
http://work.smarchal.com/twbscolor/css/56c52a7ef64f111a1c2627420
*/

.navbar-custom {
  background-color: #b1dc86;
  border-color: #a2c96a;
}
.navbar-custom .navbar-brand {
  color: #111a1c;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #262742;
}
.navbar-custom .navbar-text {
  color: #111a1c;
}
.navbar-custom .navbar-nav > li > a {
  color: #111a1c;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #262742;
}
.navbar-custom .navbar-nav > li > .dropdown-menu {
  background-color: #b1dc86;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
  color: #111a1c;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #262742;
  background-color: #a2c96a;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #a2c96a;
}
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #262742;
  background-color: #a2c96a;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #262742;
  background-color: #a2c96a;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #262742;
  background-color: #a2c96a;
}
.navbar-custom .navbar-toggle {
  border-color: #a2c96a;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #a2c96a;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #111a1c;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #111a1c;
}
.navbar-custom .navbar-link {
  color: #111a1c;
}
.navbar-custom .navbar-link:hover {
  color: #262742;
}

@media (max-width: 767px) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #111a1c;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #262742;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #262742;
    background-color: #a2c96a;
  }
}