

.resume-button {
  margin-bottom: 30px;
  text-align:center;
  border-radius: 27px;
  background: #B9DC86;
  cursor: pointer;
  height: 100px;
  padding: 40px;
  box-shadow: 10px 10px 5px #888888;
  white-space: nowrap;
}

.resume-button:hover {
  box-shadow: 3px 3px 5px #888888;
  background: #B9DC86;
}

a.resume {
  display: none;
}