body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.row {
  adding-top: 10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}

.container .sub-nav {
  padding-top: -20px;
  width: 100%;
  text-align: center;
}

.container .sub-nav li {
  float: none;
  display: inline-block;
}
