
.container-fluid .sub-nav li {
  float: none;
  display: inline-block;
}

.container-fluid .sub-nav {
	padding: 0;
	margin: 0;
	min-height: 0;
	background: #ffd11a;
}

div.sub-nav {
	background: #ffd11a;
}

ul.sub-nav {
	background: #ffffff;
}

ul.sub-nav {
	background: #ffffff;

}

div .sub-nav > li {
	text-align: center;
	padding: 5px 10px;
}

.sub-nav li.active {
	background: #cca300;
}
